body {
  font-family:  arials;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  text-align: center;
}


#h1 {
  font-size: 50px;
 
}

.firstp {
  font-size: 20px;
}

#hansimage {
  padding-right: 170px;
    width: 10;
    height: auto;
    max-width: 100%;
    
}

#mainparagraph {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 350px;
  margin-left: 350px;
}
